{% extends '../base/Header.html' %} {% block main %}

<style>
  .loader {
    border-top-color: #3498db;
    -webkit-animation: spinner 1.5s linear infinite;
    animation: spinner 1.5s linear infinite;
  }

  @-webkit-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
    }

    100% {
      -webkit-transform: rotate(360deg);
    }
  }

  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
</style>

<h1 class="text-2xl font-bold mb-4 text-center mt-5">Reset your password</h1>
<form class="max-w-md mx-auto">
  {% csrf_token %}
  <div class="mb-4">
    <label for="password" class="block text-gray-700 text-sm font-bold mb-2"
      >New Password:</label
    >
    <input
      type="password"
      id="password"
      name="password"
      class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
    />
  </div>
  <div class="mb-4">
    <label
      for="confirmPassword"
      class="block text-gray-700 text-sm font-bold mb-2"
      >Confirm Password:</label
    >
    <input
      type="password"
      id="confirmPassword"
      name="confirmPassword"
      class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
    />
    <input type="hidden" , id="token" value="{{token}}" />
  </div>
  <button
    type="submit"
    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
  >
    Reset Password
  </button>
  <a
  href='{% url 'SIGNINSERVICE' %}'
  class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
>
  Do Signin
</a>
  <label id="statusValidator"></label>
  <div id="loading" class=""></div>
</form>

<script>
  const form = document.querySelector("form");
  form.addEventListener("submit", async (event) => {
    event.preventDefault(); // Prevent the form from submitting normally
    document.getElementById("loading").classList.add("loader");
    document.getElementById("loading").classList.add("ease-linear");
    document.getElementById("loading").classList.add("rounded-full");
    document.getElementById("loading").classList.add("border-4");
    document.getElementById("loading").classList.add("border-t-4");
    document.getElementById("loading").classList.add("border-gray-200");
    document.getElementById("loading").classList.add("h-12");
    document.getElementById("loading").classList.add("w-12");
    document.getElementById("loading").classList.add("mb-4");
    const password = document.getElementById("password").value;
    const confirmPassword = document.getElementById("confirmPassword").value;
    const token = document.getElementById("token").value;
    console.log(password, confirmPassword);
    if (password !== confirmPassword) {
      document.getElementById("statusValidator").className = "text-red-500";
      document.getElementById("statusValidator").textContent =
        "Password does not match !";
      document.getElementById("loading").className = "";
      return;
    }
    const requestBody = {
      password: password,
      token: token,
    };
    // Get the CSRF token
    const csrfToken = document.getElementsByName("csrfmiddlewaretoken")[0]
      .value;
    // Add the CSRF token to the request headers
    const headers = {
      "Content-Type": "application/json",
      "X-CSRFToken": csrfToken,
    };
    try {
      const response = await fetch(
        "/auth/account/forgetPassword/" + token + "/",
        {
          method: "POST",
          headers: headers,
          body: JSON.stringify(requestBody),
        }
      );
      const jsonData = await response.json();
      if (jsonData.ok) {
        document.getElementById("statusValidator").className = "text-green-500";
        form.reset();
      } else {
        document.getElementById("statusValidator").className = "text-red-500";
      }
      document.getElementById("statusValidator").textContent = jsonData.message;
    } catch (error) {
      alert("Unexpected error try again later!");
    }
    document.getElementById("loading").className = "";
  });
</script>

{% endblock %}
